body {
  padding: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.1);
  font-family: Proxima Nova, -apple-system, Roboto, Arial, sans-serif;
}
main {
  width: 100%;
  max-width: 1000px;
  margin: auto;
}
